<%- include('partials/header') %>

<main>
    <div class="container">
            <h1 class="p-2">Welcome to File Drive!</h1>
            <p>Save your files in the ☁</p>
            <p><a href="/login">Log in</a> or <a href="/register">Sign-up</a> to continue.</p>
    </div>
</main>




<%- include('partials/footer') %>