<%- include('partials/header') %>

<main>
    <div class="container">
        <% if(!user) { %>
            <h1 class="p-2">Hello anonymous!</h1>
         <%} else { %>
            <h1 class="p-2">Hello <%= user.username %>!</h1>
        
         <% } %>
    </div>
</main>




<%- include('partials/footer') %>