* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main{
    flex: 1;
}

header {
    padding: 20px;
}

footer {
    text-align: center;
}
.side-bar {
    max-height: 100%;
    padding: 10px;
}

.home-container {
    min-height: 90vh;
    padding: 20px;
}

a {
    text-decoration: none;
}

.folder-selector {
    color: navy;
}

.folder-chooser {
    width: 20%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    min-width: 20%;
    border: 1px solid black;
    padding: 20px;
    background-color: #E4EFE7;
    text-align: center;
}